* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.video-container {
    position: fixed;
    right: 0;
    bottom: -10px;
    min-width: 100%;
    min-height: 100vh;
    z-index: -20;
}

.beach-vid {
    object-fit: cover;
}

.time-container, .change-music-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.time-container button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all ease-in;
}

.time-container button:hover, .time-container button:active {
    background-color: white;
    color: black;
    border-color: black;
}

.player-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-btn {
    padding: 2.6rem;
    border: 10px solid black;
    margin: 4rem 0rem 2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: crimson;
    transition: 0.3s all ease-in;
}

.play-btn:hover {
    background-color: hsl(348, 83%, 70%);
    /* width: 40%; */
}

.play-btn img {
    width: 60px;
}

.replay-btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.replay-btn img {
    width: 35px;
    transition: 0.2s width ease-in;
}

.time-left {
    margin-top: 1rem;
    color: white;
    font-size: 3rem;
    padding: 1rem 3rem;
}

.change-music-container img {
    width: 150px;
    border-radius: 50%;
    padding: 2rem;
    background-color: hsl(219, 100%, 50%);
    cursor: pointer;
    transition: 0.2s width ease-in;
}

.change-music-container img:hover {
    width: 160px;
}

.change-music-container :nth-child(2) {
    background-color: tomato;
}

@media (max-width:650px) {
    body {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .time-container, .player-container, .change-music-container {
        width: 100%;
        flex-direction: row;
    }
    .time-container button {
        padding: 1rem;
        font-size: 0.8rem;
    }
    .play-btn {
        padding: 2rem;
        border-width: 7px;
        margin: 0;
        order: 1;
    }
    .player-container {
        justify-content: space-evenly;
    }
    .play-btn img {
        width: 30px;
    }
    .time-left {
        order: 2;
        margin: 0;
        padding: 0;
    }
    .replay-btn {
        order: 3;
    }
    .replay-btn img {
        width: 28px;
    }
    .change-music-container img {
        width: 100px;
    }
    .change-music-container img:hover {
        width: 100px;
    }
}